/*fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*colores potenciales
.color1 {color: #2b2115;}
.color2 {color: #492f30;}
.color3 {color: #765d4e;}
.color4 {color: #a99375;}

.color2 {color: #3e3d3c;}
.color3 {color: #b5907d;}
.color4 {color: #bcb88d;}
.color5 {color: #e0e0c5;}
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.fdoInicial {
  font-family: "Roboto", sans-serif;
  background-image: url("../asset/fondos/fondo1.jpg");
  width: 100%;
  background-color: rgb(105, 109, 110);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bgGaleria {
  width: 100%;
  height: 50rem;
  background-image: linear-gradient(135deg, white, gray, rgb(122, 109, 109), rgb(88, 113, 119), rgb(228, 224, 194));
  font-family: "Roboto", sans-serif;
  background-size: 500%;
  animation: fanimado 8s infinite;
}

.bgNosotros {
  width: 100%;
  height: 50rem;
  background-image: linear-gradient(135deg, white, gray);
  font-family: "Roboto", sans-serif;
  background-size: 500%;
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.banner {
  padding: 1.25rem;
  margin-right: 1.25rem;
  color: #d4cfcf;
}

.bgContactos {
  background-image: url(../asset/fondos/trama_gris.jpg);
}

.bgNovedades {
  background-color: rgba(2, 29, 40, 0.652);
}

header {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  padding-left: 30px;
  border-radius: 5px 20px 60px;
}

.logo {
  width: 4rem;
  height: 4rem;
}

nav ul li a {
  padding: 2px 7px 2px 7px;
  border: 1px solid rgba(48, 63, 79, 0.555);
  border-radius: 5px 20px 60px;
  text-decoration: none;
}

.areaInicio {
  background-color: rgba(77, 84, 92, 0);
  display: flex;
  width: 90%;
  border-radius: 10px 30px 10px 60px;
}

.logoWhatsapp {
  width: 150px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.logoWhatsapp {
  width: 75px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.txtespecial {
  margin-top: 0.625rem;
  margin-left: 0.3125rem;
  font-size: x-large;
  color: rgba(61, 12, 12, 0.993);
  font-weight: bold;
  text-align: center;
}

.txtespecial2 {
  margin-top: 0.625rem;
  margin-left: 0.3125rem;
  font-size: x-large;
  color: rgba(4, 76, 94, 0.993);
  font-weight: bold;
  text-align: center;
}

.txtespecial2 {
  margin-top: 0.625rem;
  margin-left: 0.3125rem;
  font-size: x-large;
  color: rgba(4, 76, 94, 0.993);
  font-weight: bold;
  text-align: center;
}

.txtespecial3 {
  margin-top: 0.625rem;
  margin-left: 0.3125rem;
  font-size: x-large;
  color: rgba(213, 222, 225, 0.993);
  font-weight: bold;
  text-align: center;
}

.txtespecial1 {
  font-size: larger;
  margin-left: 0.625rem;
  color: rgba(2, 29, 40, 0.652);
  font-weight: bold;
}

.txtespecial33 {
  font-size: larger;
  margin-left: 0.625rem;
  color: rgba(224, 232, 236, 0.652);
  font-weight: bold;
}

.mobSmart {
  transition: all 0.3s;
  border-style: initial;
  margin: 1rem;
  background-image: url(../asset/galeriaprod/fondomobsmart.png);
  background-size: cover;
  background-position: end;
  text-indent: 1.25rem;
  grid-column-start: 2;
  grid-column-end: 4;
  border-radius: 20px 50px;
}

.mobSmart:hover {
  border-style: inset;
}

.iluminacion {
  transition: all 0.3s;
  border-style: initial;
  background-image: url(../asset/galeriaprod/iluredondo.jpg);
  background-size: cover;
  background-position: center;
  color: #fafafa;
  grid-column-start: 2;
  grid-column-end: 4;
  border-radius: 20px 50px;
  margin: 1rem;
}

.iluminacion:hover {
  border-style: inset;
}

.accEscri {
  transition: all 0.3s;
  border-style: initial;
  background-image: url(../asset/galeriaprod/escritoriomesa.webp);
  background-size: cover;
  background-position: center;
  grid-column-start: 2;
  grid-column-end: 4;
  border-radius: 20px 50px;
  margin: 1rem;
}

.accEscri:hover {
  border-style: inset;
}

.mobMin {
  transition: all 0.3s;
  border-style: initial;
  background-image: url(../asset/galeriaprod/galproductosazul.jpg);
  background-size: cover;
  background-position: center;
  grid-column-start: 2;
  grid-column-end: 4;
  border-radius: 20px 50px 5px;
  margin: 1rem;
}

.mobMin:hover {
  border-style: inset;
}

.container {
  padding: 0.625rem;
  display: grid;
  height: 600px;
  grid-template-columns: 1fr, 2;
  grid-template-rows: 1fr, 4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container-form {
  padding: 0.625rem;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: rgb(95, 59, 18);
  margin-right: 10px;
}

.container-form form .campo, textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: rgb(95, 59, 18);
  color: white;
  border-radius: 3px;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  background: rgb(95, 59, 18);
}

.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.arti {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(216, 210, 210, 0.261);
}

.artImagen {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: contain;
}

.articulo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.artDescripcion {
  font-size: 18px;
  font-weight: bold;
  color: rgb(56, 15, 8);
  text-align: center;
}

.artBtn {
  padding: 10px 20px;
  background-color: rgb(56, 15, 8);
  color: #fafafa;
  font-weight: bold;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorProductos {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .contenedorProductos {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 375px) {
  .bgContactos {
    display: block;
  }
}

/*# sourceMappingURL=estilo.css.map */
