@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
header {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  padding-left: 30px;
  border-radius: 5px 20px 60px;
}

nav ul li a {
  padding: 2px 7px 2px 7px;
  border: 1px solid rgba(48, 63, 79, 0.555);
  border-radius: 5px 20px 60px;
  text-decoration: none;
}

.fdoInicial {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../asset/fondos/trama_black.jpg");
  width: 100%;
  height: 860px;
  background-color: #6b5d4d;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

/* .bgGaleria {
    width: 100%;
    height: 50rem;
    background-image: linear-gradient(135deg, white, rgb(187, 182, 182), rgb(197, 192, 192), rgb(208, 211, 211), rgb(228, 224, 194));
    font-family: 'Roboto', sans-serif;
    background-size: 500%;
    animation: fanimado 8s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
*/
.bgNosotros {
  background-image: url(../asset/fondos/trama_gris.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

body {
  background-image: url(../asset/fondos/trama_black.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.imgnos {
  position: relative;
  width: auto;
  height: 100%;
}

.txth1 {
  margin: 0.625rem;
  padding: 0.5rem;
  font-size: larger;
  text-align: center;
  color: #1d1404;
  font-weight: bold;
}

.txth11 {
  margin-top: 75px;
  padding-left: 5rem;
  font-size: larger;
  align-items: center;
  color: #0a0809;
  font-weight: bold;
}

.txth12 {
  margin: 3px 10px 1px 20px;
  padding-left: 80px;
  font-size: larger;
  text-align: left;
  color: #0a0809;
  font-weight: bold;
}

.txt13 {
  color: rgb(26, 5, 4);
  text-align: center;
  font-size: larger;
}

.txt14 {
  color: rgb(96, 19, 131);
  text-align: center;
  font-size: larger;
}

.areaInicio {
  background-color: rgba(77, 84, 92, 0);
  display: flex;
  width: 90%;
  border-radius: 10px 30px 10px 60px;
}

.logoWhatsapp {
  width: 75px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.txtespecial1 {
  margin-top: 0.625rem;
  margin-left: 1rem;
  font-size: x-large;
  color: rgba(118, 21, 14, 0.996);
  font-weight: bolder;
}

.txtespecial12 {
  margin-top: 50px;
  margin-left: 0.3125rem;
  font-size: large;
  color: rgb(248, 245, 245);
  font-weight: bolder;
  text-align: center;
}

.txtespecial123 {
  margin-top: 50px;
  font-size: large;
  color: rgb(10, 9, 9);
  font-weight: bolder;
  text-align: center;
}

.mobSmart {
  transition: all 0.3s;
  border-style: initial;
  margin: 0.2rem;
  background-image: url(../asset/galeriaprod/velad1.jpg);
  opacity: 80%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  text-indent: 1.25rem;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 20px 50px;
  opacity: 75%;
}

.mobSmart:hover {
  border-style: inset;
}

.iluminacion {
  transition: all 0.3s;
  border-style: initial;
  background-image: url(../asset/galeriaprod/ilucolgante3.jpg);
  opacity: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fafafa;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 20px 50px;
  margin: 0.2rem;
}

.iluminacion:hover {
  border-style: inset;
}

.accEscri {
  transition: all 0.3s;
  border-style: initial;
  background-image: url(../asset/galeriaprod/carrousel3.jpg);
  opacity: 80%;
  background-size: cover;
  background-position: center;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 20px 50px;
  margin: 0.2rem;
}

.accEscri:hover {
  border-style: inset;
}

.mobMin {
  transition: all 0.3s;
  border-style: initial;
  background-image: url(../asset/galeriaprod/galproductos26.webp);
  opacity: 80%;
  background-size: cover;
  background-position: center;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 20px 50px 5px;
  margin: 0.2rem;
}

.mobMin:hover {
  border-style: inset;
}

.container {
  padding: 0.625rem;
  display: grid;
  height: 600px;
  grid-template-columns: 1fr, 2;
  grid-template-rows: 1fr, 4;
  gap: 0.125rem;
}

.container-form {
  padding: 0.625rem;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: rgb(95, 59, 18);
  margin-right: 10px;
}

.container-form form .campo textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: rgb(95, 59, 18);
  color: white;
  border-radius: 3px;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  background: rgb(95, 59, 18);
}

.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.arti {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(216, 210, 210, 0.261);
}

.artImagen {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: contain;
}

.articulo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.artDescripcion {
  font-size: 18px;
  font-weight: bold;
  color: rgb(56, 15, 8);
  text-align: center;
}

.artBtn {
  padding: 10px 20px;
  background-color: rgb(56, 15, 8);
  color: #fafafa;
  font-weight: bold;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  border: none;
}

.contact_section {
  position: relative;
  color: white;
}
.contact_section .heading_container {
  justify-content: start;
}
.contact_section .heading_container h2::before {
  text-align: left;
  left: 0;
  transform: none;
}
.contact_section .row {
  align-items: center;
}
.contact_section .img-box img {
  width: 100%;
}
.contact_section .form_container {
  padding: 45px 0 45px 15px;
}
.contact_section input {
  width: 100%;
  border: none;
  background-color: white;
  outline: none;
  color: black;
  margin-top: 25px;
  padding: 12px;
}
.contact_section input.message-box {
  padding: 45px 12px;
}
.contact_section button {
  padding: 10px 65px;
  outline: none;
  border: none;
  color: white;
  background: #500c1a;
  margin: 45px 0 0 auto;
  text-transform: uppercase;
}

.info_items {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.info_items .item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.info_items .item .detail-box {
  margin-top: 5px;
  color: #fff;
}

.info_items {
  position: relative;
}

a {
  position: relative;
}

.logo {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorProductos {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .contenedorProductos {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 375px) {
  .bgContactos {
    display: block;
  }
}

/*# sourceMappingURL=estilo.css.map */
