header{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    padding-left: 30px;
    border-radius: 5px 20px 60px;
}

nav
    ul 
        li 
            a{
                padding: 2px 7px 2px 7px;
                border: 1px solid rgba(48, 63, 79, 0.555);
                border-radius: 5px 20px 60px;
                text-decoration: none;
}